@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Seaweed+Script&display=swap');

* {
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.count {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    text-align: center;
}

.count.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide .3s ease-in;
}

.replay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    text-align: center;
}

.replay.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show .3s ease-in;
}

.nums {
    position: relative;
    font-size: 50px;
    color: aquamarine;
    height: 50px;
    width: 200px;
    overflow: hidden;
}

.nums span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(120deg);
    transform-origin: bottom center;
}

.nums .in {
    transform: translate(-50%, -50%) rotate(0deg);
    animation: goIn 0.5s ease-in-out;
}

.nums .out {
    transform: translate(-50%, -50%) rotate(-120deg);
    animation: goOut 0.5s ease-in-out;
}

@keyframes goIn {
    0% {
        transform: translate(-50%, -50%) rotate(120deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(-20deg);

    }

    60% {
        transform: translate(-50%, -50%) rotate(10deg);

    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes goOut {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    30% {
        transform: translate(-50%, -50%) rotate(30deg);

    }

    100% {
        transform: translate(-50%, -50%) rotate(-120deg);
    }
}



@keyframes hide {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    30% {
        transform: translate(-50%, -50%) scale(1.4);

    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}